.hide{
	display: none;
}

*{
	padding: 0;
	margin:0;
}

.header-main{
	background: #fff;
    box-shadow: 0 2px 5px #ccc;
    position: relative;
    width: 100%;
    height: 90px;
}

.container{
	width: 1123px;
	height: 90px;
	margin: auto;
}

.logo img{
	float:right;
	margin-top:20px;
}

.nav{
	width:1000px;
	height: 39px;
	margin:auto;
	padding-top: 37px;
}

.nav a{
	text-decoration: none;
}
.nav p{
	margin: auto;
	color: #000;
	font-weight: bold;
	font-family: arial;
	font-size: 14px;
}

.menu-culturas{
	width: 1123px;
	height: 90px;
	margin: auto;
}

.menu-culturas img{
	width: 246px;
	margin: 18px 0 0;
}

/* SECTION 01*/

.sec-01{
	width: 1123px;
	height: auto;
	margin: auto;
}

.sec-01 h1{
	color: #7C828D;
	font-family: arial;
	font-weight:bold;
	margin-top:20px;
	margin-bottom: 8px;
	font-size: 28px;
	margin-left:30px;
}

.sec-01 p{
	color: #7C828D;
	font-family: arial;
	font-size: 14px;
	margin-left:30px;
}

/*FORMULÁRIO*/
.form{
	width: 1123px;
	height: 226px;
	background-color: #E5E5E5;
	margin: auto;
	margin-top: 40px;
}

.nome, .cpf, .email, .telefone, .cidade, .estado, .area-profissional label{
	font-family: arial;
	display: inline-block;
	font-size: 14px;

}

.nome {
	width: 300px;
	padding: 30px 35px;
}

.nome input {
	width: 300px;
	padding: 10px;
	margin-top: 4px;
}

.cpf{
	width: 300px;
	padding: 30px;
}

.cpf input {
	width: 300px;
	padding: 10px;
	margin-top: 4px;
}

.email {
	width: 300px;
	padding: 30px;
}

.email input{
	width: 300px;
	padding: 10px;
	margin-top: 4px;
}

.telefone{
	width: 200px;
	padding: 10px 20px 30px 35px;
}

.telefone input{
	width: 200px;
	padding: 10px;
	margin-top: 4px;
}

.cidade{
	width: 200px;
	padding: 10px 20px;
}

.cidade input{
	width: 200px;
	padding: 10px;
	margin-top: 4px;
}

.estado{
	width: 200px;
	padding: 10px 20px;
}

.estado input{
	width: 200px;
	padding: 10px;
	margin-top: 4px;
}

.area-profissional{
	width: 300px;
	padding: 10px 20px;
	display: inline-block;
}
.area-profissional select{
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance:none;
	background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #fff;
	background-position: 290px center;
	background-size: 35px;
	width: 324px;
	height:30px;
	border:1px solid #000;
	margin-top: 2px;
}

/*FORMULÁRIO BUSCA*/

.form-2{
	width: 1123px;
	height: 100px;
	background-color: #E5E5E5;
	margin: auto;
	margin-bottom: 30px;
}

.form-2 label{
	font-family: arial;
	font-size: 14px;
}

.produto{
	width: 400px;
	padding: 10px 35px;
	display: inline-block;
}

.produto input{
	width: 400px;
	padding: 10px;
	margin-top: 4px;
}

.botao-buscar{
	width: 150px;
	display: inline-block;
}

.botao-buscar button{
	background-color: #F0F0F0;
	padding: 7px 50px;
	border-radius: 30px;
	border: none;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}

.botao-buscar button:hover{
	background-color: #f0f0f0;
}

/* CONTEÚDO */

.conteudo-1{
	width: 500px;
	height: 250px;
	background-color: #E5E5E5;
	display: inline-block;
	position: absolute;
}

.conteudo-1 .margem{
	width: 400px;
	height: 250px; 
	margin:auto;
}
.imagem{
	width: 400px;
	padding: 30px 0px 30px 0px;
}
.conteudo-1 p{
	margin: 0;
}
.descricao{
	width: 400px;
    height: auto;
}

.margem img{
	width:300px; 
}

.conteudo-2{
	width:600px;
	background-color: #e1efcc;
	height: 250px;
	display: inline-block;
	float: right;
}

.preco{
	width: 490px;
	height: auto;
	margin: auto;
	background-color: #f0f7e7;
	margin-top: 20px;
}

.preco h2{
	font-family: arial;
	color: #6b706c;
	font-size: 30px;
	padding: 15px 0px 2px 0px;
	margin-left: 25px;
}

.preco p{
	font-family: arial;
	color: #6b706c;
	font-size:14px;
	margin-left: 25px;
	padding-bottom: 10px;
}

.conteudo-2 .margem-2{
	width:500px;
	margin:auto;
}

.conteudo-2 h3{
	font-family: arial;
	color: #6b706c;
	font-size: 14px;
	margin-top: 24px;
	text-transform: uppercase;
}


.conteudo-2 h3{
	padding-left: 30px;
}

.escolha-produto{
	width: auto;
	height: auto;
}

.descricao-produto{
	width: auto;
	height: auto;
}

.conteudo-2 p{
	margin-top: 4px;
}

.saiba-mais{
	width: 200px;
	display: inline-block;
	float: right;
	margin-top: 20px;
	margin-right: 15px;
}

.saiba-mais button{
	background-color: #6fad00;
	padding: 7px 50px;
	border-radius: 30px;
	border: none;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}

.comprar-online{
	width: 280px;
	display: inline-block;
	float: right;
	margin-top: 20px;
}

.comprar-online button{
	background-color: #6fad00;
	padding: 7px 50px;
	border-radius: 30px;
	border: none;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	float: right;
	margin-right: 15px;
}

.comprar-online button:hover{
	background-color: #669e00;
}

.saiba-mais button:hover{
	background-color: #669e00;
}

/*RESPONSIVEL*/

@media only screen and (max-width: 1100px) {
	.sec-01{
		width: 100%;
		margin: auto;
	}

	.container{
		width: 100%;
	}

	.logo{
		width: 100%;
	}

	.nav{
		width: 100%;
		margin:auto;
	}

	.nav p{
		margin-left: 20px;
	}

	.menu-culturas{
		width: 100%;
	}

	.menu-culturas img{
		margin-left: 20px;
	}

	.form{
		width: 100%;
		height: auto;
	}

	.nome{
		display: block;
		width: auto;
		padding:  20px 30px 10px 30px;

	}

	.nome input{
		width: 97%;
	}

	.cpf{
		width: 45%;
		display: inline-block;
		padding: 10px 10px 10px 30px;
	}

	.cpf input{
		width: 95%;
	}

	.email{
		width: 45%;
		display: inline-block;
		padding: 10px 30px 10px 17px;
	}

	.email input{
		width: 95%;
	}

	.telefone{
		width: 45%;
		display: inline-block;
		padding: 10px 10px 10px 30px;
	}

	.telefone input{
		width: 95%;
	}

	.cidade{
		width: 45%;
		display: inline-block;
		padding: 10px 30px 10px 17px;
	}

	.cidade input{
		width: 95%;
	}

	.estado{
		width: 45%;
		display: inline-block;
		padding: 10px 10px 10px 30px;
	}

	.estado input{
		width: 95%;
	}

	.area-profissional{
		width: 45%;
		display: inline-block;
		padding: 10px 30px 10px 17px;
	}

	.area-profissional select{
		width: 100%;
		background-position: 100% center;
		height: 36px;
	}

	.form-2{
		width: 100%;
	}

	.produto {
		width: 73%;
		padding: 10px 10px 10px 30px;
	}

	.produto input{
		width: 100%;
	}

	.botao-buscar {
    	padding-left: 3%;
    }

    .conteudo-1{
    	position: relative;
    	width: 100%;
    }

	.conteudo-2 {
		width: 100%;
		float: none;
	}
}

@media only screen and (max-width: 930px) {
	.nav p{
		margin-left: 20px;
	}

	.menu-culturas img{
		margin-left: 20px;
	}

	.form{
		width: 100%;
		height: auto;
	}

	.cpf {
    	display: block;
    	width: auto;
    	padding: 10px 30px 10px 30px;
   	}

   	.cpf input{
   		width: 97%;
   	}

   	.email{
    	display: block;
    	width: auto;
    	padding: 10px 30px 10px 30px;
   	}

   	.email input{
   		width: 97%;
   	}

   	.telefone {
    	display: block;
    	width: auto;
    	padding: 10px 30px 10px 30px;
   	}

   	.telefone input{
   		width: 97%;
   	}

   	.cidade {
    	display: block;
    	width: auto;
    	padding: 10px 30px 10px 30px;
   	}

   	.cidade input{
   		width: 97%;
   	}

   	.estado {
    	display: block;
    	width: auto;
    	padding: 10px 30px 10px 30px;
   	}

   	.estado input{
   		width: 97%;
   	}

   	.area-profissional {
    	width: auto;
    	display: block;
    	padding: 10px 0px 10px 30px;
	}

	.area-profissional select{
		width: 96%;
		background-position: 100% center;
		height: 36px;
	}

	.form-2{
		width: 100%;
		height: 120px;
		margin-bottom: 10px;
	}

	.produto {
    	display: block;
		width: auto;
		padding: 10px 30px 10px 30px;
    }

    .produto input{
    	width: 97%;
    }

    .botao-buscar {
    	padding-right: 3%;
   		float: right;
   	}

   	.conteudo-1{
   		width: 100%;
    }

   	.conteudo-1 p{
   		padding: 0px 30px 0px 30px;
		width: 80%;
   	}

   	.descricao{
   		width: 100%;
   	}

   	.margem{
   		width: 100%!important;
   	}

   	.imagem{
   		width: 100%;
   		margin: auto;
   	}

   	.margem img {
    	width: 200px;
    	padding: 0px 30px 0px 30px;
	}

   	.conteudo-2{
   		width: 100%;
   		height: auto;
   	}

   	.conteudo-2 .margem-2{
   		width: 100%;
   	}

   	.preco{
   		width: 100%;
   		background-color: transparent!important;
   		margin: auto;
   	}

   	.preco h2{
   		margin-top: 20px;
   	}

   	.saiba-mais{
   		margin-left: 30px;
   		float: left;
   		width: 90%;
   	}

   	.saiba-mais button{
   		padding: 5px 30px;
   	}

   	.comprar-online {
   		width: 90%;
    	margin-top: 9px;
    	margin-bottom: 30px;
    	float:left;
	}

	.comprar-online button{
		padding: 5px 30px;
		float: left;
		margin-left: 30px;
	}
   	

}
	

/*    INDEX 02     */

.sec-02{
	width: 1123px;
	height: auto;
	margin: auto;
}

.sec-02 h1{
	color: #7C828D;
	font-family: arial;
	font-weight:bold;
	margin-top:20px;
	margin-bottom: 8px;
	font-size: 28px;
	margin-left:30px;
}

.sec-02 p{
	color: #7C828D;
	font-family: arial;
	font-size: 14px;
	margin-left:30px;
	margin-bottom: 20px;
}

.col-01{
	width: 400px;
	height: 450px;	
	background-color: #E5E5E5;
	display: inline-block;
	position: absolute;
}

.form-03{
	height: 140px;
}

.cidade-regiao{
	width: 340px;
	padding: 30px 30px 0px 30px;
}

.cidade-regiao input{
	width: 317px;
	padding: 10px;
}

.botao-buscar-02{
	width: 400px;
}

.botao-buscar-02 button{
	background-color: #6eae02;
	padding: 7px 50px;
	border-radius: 30px;
	border: none;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	float: right;
	margin-top: 30px;
	margin-right: 30px;
}

.form-04{
	height: 210px;
	margin-top: 30px;
}

.form-04 p{
	color: #6eae02;
	font-weight: bold;
	font-size: 16px;
}

.input-01{
	width: 340px;
	padding: 0px 30px 0px 30px;
}

.input-01 input{
	width: 317px;
	padding: 10px;
}

.input-02{
	width: 340px;
	padding: 15px 30px 0px 30px;
}

.input-02 input{
	width: 317px;
	padding: 10px;
}

.input-03{
	width: 340px;
	padding: 15px 30px 0px 30px;
}

.input-03 input{
	width: 317px;
	padding: 10px;
}

.col-02{
	width: 690px;
	height: 450px;	
	background-color: #e1efcc;
	display: inline-block;
	margin-left: 433px;
}

.col-02 h2{
	font-weight: bold;
	font-family: arial;
	padding-left: 54px;
	padding-top: 30px;
	color: #74777e;
}

.map{
	padding: 30px;
}

.map img{
	width: 629px;
	height: 330px;
}

@media only screen and (max-width: 1130px) {
	.sec-02 {
    	width: 100%;
	}

	.col-01{
		position: relative;
		width: 100%;
	}

	.form-03{
		margin: 30px 60px 0px 60px;
	}

	.cidade-regiao{
		width: auto;
    	padding: 0px 30px 0px 30px;
	}

	.cidade-regiao input{
		width: 100%;
	}

	.botao-buscar-02{
		width: 100%;
		margin-right: 0;
	}

	.form-04{
		margin: 30px 60px 0px 60px;
	}

	.input-01 {
    	width: auto;
    	padding: 0px 30px 0px 30px;
	}

	.input-01 input {
    	width: 100%;
	}

	.input-02 {
    	width: auto;
    	padding: 20px 30px 0px 30px;
	}

	.input-02 input {
    	width: 100%;
	}

	.input-03 {
    	width: auto;
    	padding: 20px 30px 0px 30px;
	}

	.input-03 input {
    	width: 100%;
	}

	.col-02{
		display: block;
		margin: 0;
		width: 100%;
		height: 75%;
		margin-top: 20px;
	}

	.col-02 h2{
		padding-left: 29px;
	}

	.map img {
    	width: 100%;
    	height: 100%;
    }
}

@media only screen and (max-width: 415px) {
	.sec-02 {
    	width: 100%;
	}

	.form-03 p{
		margin-left: 0;
	}

	.col-01{
		position: relative;
	}

	.form-03 {
    	margin: 30px 30px 0px 30px;
	}

	.cidade-regiao {
    	padding: 0px 0px 0px 0px;
   	}

   	.cidade-regiao input {
   	 	width: 92%;
   	}

   	.botao-buscar-02 button {
	    margin-top: 20px;
	    margin-right:0;
	}

	.form-04 {
    	margin: 30px 30px 0px 30px;
	}

	.input-01 {
     	padding: 0;
    }

    .input-01 input{
    	width: 92%;
    }

    .input-02 {
     	padding: 20px 0px 0px 0px;
    }

    .input-02 input{
    	width: 92%;
    }

    .input-03 {
     	padding: 20px 0px 0px 0px;
    }

    .input-03 input{
    	width: 92%;
    }

	.col-02{
		display: block;
		margin: 0;
		width: 100%;
		height: 40%;
		margin-top: 20px;
	}

	.col-02 h2{
		padding-left: 20px;
		font-size: 16px;
	}
	.map{
	    padding: 20px;
	}

	.map img {
    	width: 100%;
    	height: 100%;
	}
}

/* INDEX-03  */

.sec-03{
	width: 1123px;
	height: 720px;
	margin: auto;
}

.col-03{
	width: 100%;
	height: 360px;
	background-color: #f2f2f2;

}

.col-03 p{
	color: #91bf39;
	font-family: arial;
	font-weight: bold;
	font-size: 20px;
	padding: 50px 90px 200px 90px;
}

.botao-01{
	width: 100%;
}

.botao-01 button{
	float: right;
	background-color: #f2f2f2;
	padding: 7px 50px;
	border-radius: 30px;
	border: 1px solid #5a5a5a;
	color: #5a5a5a;
	text-transform: uppercase;
	cursor: pointer;
}

.botao-02{
	width: 100%;
}

.botao-02 button{
	float: right;
	background-color: #f2f2f2;
	padding: 7px 50px;
	border-radius: 30px;
	border: 1px solid #5a5a5a;
	color: #5a5a5a;
	text-transform: uppercase;
	cursor: pointer;
	margin-left: 20px;
	margin-right: 40px;
	
}

@media only screen and (max-width: 1150px) {
	.sec-03{
		width: 100%;
	}

	.col-03{
		height: 100%;
	}
}

@media only screen and (max-width: 560px) {
	.col-03 p{
		padding: 50px 40px 200px 40px;
	}

	.botao-01 button{
		float: left;
		margin-left: 20px;
	}

	.botao-02 button{
		float: left;
		margin-bottom: 15px;
	}

}